@import "../../Utils/variables";
.home-cover {
  margin: 0 2rem;
  height: 11rem;
  border-radius: $radius;
  background-image: url(../../../Assets/images/home-cover-mobil.png);

  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  h1 {
    color: white;
    position: absolute;

    width: 59%;
    left: 1rem;
    top: 3rem;

    font-size: 2.2rem;
    font-weight: 100;
  }
}
