@import "../../Utils/reset";
@import "../../Utils/variables";

.accord {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.accord-visible {
  background-color: $primary;
  border-radius: 5px;
  height: 3rem;

  cursor: pointer;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding: 1.5rem;
  font-weight: 100;

  img {
    transform: rotate(180deg);
    width: 20px;
  }
}

.accord-toggle {
  font-size: 1.2rem;
  opacity: 0;
  font-weight: 300;

  transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;
  p {
    padding: 1.5rem;
    pointer-events: none;
    line-height: 2.1rem;
    color: $primary;
  }
}

.animated {
  opacity: 1;
  margin-bottom: 3rem;
  transition: height 0.4s ease-in-out, opacity 0.4s 0.4s ease-in-out;
}
