@import "../../Utils/reset";
@import "../../Utils/variables";

.about-cover {
  height: 223px;
  width: 100%;
  background-position: bottom center;

  //   background-position: bottom center, 100px 135px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $radius;
  background-image: url("../../../Assets/images/about-cover-mobil.png");
  margin-bottom: 2rem;
}
