@import "../../Utils/reset";
@import "../../Utils/variables";

.LodgingCards {
  display: flex;
  flex-direction: column;
  height: 34rem;
  width: 34rem;
  border-radius: $radius;
  margin: 5.6rem 0;

  position: relative;
  color: white;
}
.container_img {
  position: absolute;
  height: 34rem;
  width: 34rem;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: $radius;

  background: $gradient;
}

h2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: 100;
  width: 60%;
  font-size: 1.8rem;
  line-height: 2.6rem;
}
