@import "../../Utils/reset";
@import "../../Utils/variables";
@import "../../Utils/mixins";
@import "../../Utils/animations";

.main-lodging {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}
.tag-container {
  display: flex;
  margin-top: 1.2rem;
  padding: 0 2rem;
}
.tag {
  background-color: $primary;
  margin-right: 1rem;

  color: white;
  border-radius: 5px;
  width: 8.5rem;
  height: 1.8rem;
  position: relative;
  padding: 0.3rem;
  p {
    font-size: 1rem;

    text-align: center;
  }
}
.hote_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
  @include tablet-and-higher {
    flex-direction: column-reverse;
    justify-content: right;
    width: 30%;
    top: 405px;
    right: 0px;
    position: absolute;
  }
}
.hote-info {
  display: flex;
  font-size: 1.2rem;
  color: $primary;
  align-items: center;
  text-align: right;
  @include tablet-and-higher {
    font-size: 2rem;
  }

  p {
    width: 50px;
    margin-right: 1rem;
  }

  img {
    width: 4rem;
    height: 4rem;

    border-radius: 50%;
    @include tablet-and-higher {
      width: 6rem;
      height: 6rem;
      position: absolute;
      right: 8%;
      top: 6%;
    }
  }
}

.accordion-container {
  margin-top: 5rem;
  padding: 0 1rem;

  min-height: 200px;
  position: relative;

  @include desktop-and-higher {
    display: flex;
    top: 0;

    .accord {
      width: 50%;
      max-width: 580px;
      position: absolute;

      &:first-child {
        top: 0;
        right: 4px;
        margin-left: 10px;
      }
    }
    .accord-toggle {
      height: 250px;
    }
  }
}

.equipments-list {
  padding: 2rem 0 0 1rem;
  color: $primary;

  .equipments {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}

.hote-rate {
  display: flex;
  li {
    img {
      height: 1.8rem;
      @include desktop-and-higher {
        height: 2.3rem;
      }
    }
  }
}

.lodging-top {
  display: flex;
  flex-direction: column;
  hgroup {
    padding: 0 2rem;
  }
}
