*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

@-webkit-keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.main-lodging {
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  position: relative;
}

.tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.2rem;
  padding: 0 2rem;
}

.tag {
  background-color: #ff6060;
  margin-right: 1rem;
  color: white;
  border-radius: 5px;
  width: 8.5rem;
  height: 1.8rem;
  position: relative;
  padding: 0.3rem;
}

.tag p {
  font-size: 1rem;
  text-align: center;
}

.hote_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

@media screen and (min-width: 770px) {
  .hote_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    top: 405px;
    right: -140px;
    position: absolute;
  }
}

.hote-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  color: #ff6060;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.hote-info p {
  width: 50px;
  margin-right: 1rem;
}

.hote-info img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.accordion-container {
  margin-top: 2rem;
  padding: 0 2rem;
}

@media screen and (min-width: 770px) {
  .accordion-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .accordion-container .accord {
    width: 50%;
    max-width: 582px;
  }
}

.equipments-list {
  padding: 2rem 0 0 1rem;
  color: #ff6060;
}

.equipments-list .equipments {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.hote-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hote-rate li img {
  height: 1.8rem;
}

.lodging-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lodging-top hgroup {
  padding: 0 2rem;
}
/*# sourceMappingURL=lodging.css.map */