@import "../../Utils/reset";
@import "../../Utils/variables";

.btn-slide {
  width: 80px;

  border-radius: 50%;
  background: transparent;
  // display: flex;
  position: absolute;

  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 30px;
  height: 30px;
  pointer-events: none;
  object-fit: cover;
}
.prev {
  top: 50%;
  left: 0;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 0;
  transform: translateY(-60%);
}

.visible {
  display: flex;
}
.invisible {
  display: none;
}
