@import "../../Utils/reset";
@import "../../utils/variables";
@import "../../utils/mixins";

.home_main {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.LodgingCard-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: $radius;
  max-width: 1240px;
  margin: 0 2rem;
  @include tablet-and-higher {
    background-color: $grey;
    border-radius: $radius;
    max-width: 1240px;
    padding-bottom: 4rem;
    margin-top: 3rem;
  }

  img {
    width: 100%;
    border-radius: $radius;
    height: 100%;
    object-fit: cover;
  }
}
